doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    Title Login FenixAlive
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel="stylesheet" href="/public/css/estilos.css")
  body
    div.container
      div.row
        div.col-md-2
        div.col-md-10
          nav.navnar.navbar-default.large-padding.blank
            ul.nav.navbar-nav
              li
                a(href="/app") Inicio
              li 
                a(href="/app/imagenes") Mis imagenes
      div.row
        block content
