html, body{
  width:100%;
  background: url("../img/wall.png");
  /*background-size: cover;*/
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: repeat;
  text-shadow: 5px 5px 5px #fff;
}
.center{
text-align: center;
}
a{text-shadow: none;}

.columna{
display:inline-block;
}
nav .blank{
background-color: #222 !important;
color:white;
z-index:10;
font-size: 1em;
}
.boton{
  text-align: center;
  margin:10px 20px;
  display:inline-block;
}
.forma{
display: inline-block;
}
.boton a{
color:#fff;
}
.tr:nth-of-type(odd){
  background-color: #eee;
}

