extends ../../layout.jade
block content
  br
  div.col-md-4
  div.col-md-4
    br
    div.img-container
      h1= imagen.title 
      img.main-img(src="/public/imagenes/#{imagen._id}.#{imagen.extension}")
      br
      if(typeof imagen.creator != "undefined")
        p Por #{imagen.creator.email}
     br
  div.col-md-4
    br
